/* General Body and Font Styling */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

/* Contact Container */
.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 80vh;
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Contact Info Section */
.contact-info {
    width: 40%;
    padding: 20px;
}

.logo-container {
    margin-bottom: 20px;
}

.logo-img {
    height: 50px;
}

.contact-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

.contact-desc {
    font-size: 16px;
    margin-bottom: 30px;
}

.contact-details p {
    font-size: 16px;
    margin-bottom: 10px;
}

.contact-details a {
    text-decoration: none;
    color: #00AEED;
}

.contact-details a:hover {
    text-decoration: underline;
}

/* Contact Form Section */
.contact-form {
    margin-top: 8%;
    width: 55%;
    padding: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.contact-form button {
    padding: 15px;
    background-color: #00AEED;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.contact-form button:hover {
    background-color: #008bbd;
}
